* {
  box-sizing: border-box;
}

@keyframes animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate__animated.animate__bounceInLeft {
  --animate-duration: 2s;
}

:root {
  --animate-duration: 800ms;
  --animate-delay: 0.5s;
}

h3,
h5 {
  animation: animation 5s infinite;
}

body,
html {
  margin: 0;
  padding: 0;
  height: auto;
  overflow: auto; 
  width: 100%;
}

nav.mobile-nav {
  display: none;
}

nav.desktop-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 40px;
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  transition: background-color 0.3s ease;
  /* border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5),
  -5px -5px 10px rgba(255, 255, 255, 0.3);
}

nav.desktop-nav.scrolled {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  color: #333;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  display: flex;
  list-style: none;
}

ul li {
  margin-left: 30px;
}

ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: color 0.3s ease;
  position: relative;
}

ul li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #333;
  transition: width 0.3s ease;
  position: absolute;
  bottom: -5px;
  left: 0;
}

ul li a:hover::after {
  width: 100%;
}

ul li a:hover {
  color: #000;
}



.imagem-inicial{
  margin-top: 95px;
}



#cx {
  position: relative;
  color: rgb(0, 0, 0);
  top: 0;
  background: #ffffff;
  max-width: 450px;
  width:100%;
  border-radius: 15px;
  height: 600px;
  padding: 5px;
  text-align: center;
  transform: translateY(-1480px);
  margin-left: 220px;
  margin-top: 220px;
  gap: 20px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.295);
}

.campo1,
.campo2 {
  width: 70%;
  height: 50px;
  font-size: 15px;
  margin-top: 50px;
  border-radius: 20px;
  border: solid 3px rgb(167, 7, 7);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.consultar {
  cursor: pointer;
  width: 60%;
  height: 50px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background: #e43003;
  color: white;
  margin-top: 75px;
}


.pr {
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100vw;
  width: 100%;
  height: auto;
  filter: brightness(80%);
  z-index: 0;
  margin: 0;
  padding: 0;
}

#pt2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: auto;
  margin: 80px auto;
  height: 80vh;
  margin-top: 200px;
  margin: 0;
  /* border-radius: 30px; */
  background: linear-gradient(to top, #f0f0f0 10%, #f0eceb 50%, #f1eae8 90%);
}

#bloco1,
#bloco2,
#bloco3 {
  background: #ffffff;
  width: 20%;
  text-align: center;
  border-radius: 20px;
  height: 225px;
  padding: 20px;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  color: rgb(156, 11, 11);
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 300px;
  text-align: center;
}

h2 {
  font-size: 40px;
}

h5 {
  position: absolute;
  color: rgb(156, 11, 11);
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -200px;
}

#button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 80px auto 0;
  /* margin-top: px; */
  padding-top: 50px;
  gap: 30px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  transition: all 0.6s ease-out;
  text-align: center;
}

.N,
.B,
.C,
.D {
  position: relative;
  width: 60%;
  max-width: 400px;
  height: 300px;
  color: rgb(31, 30, 30);
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.sty{
  border-radius: 20px;
}

#caixa-pr{
  display: flex;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background: linear-gradient(to top, #500606 10%, #7e0404 50%, #7e0404 90%);
  height: 50vh;
  justify-content: center;
}

.ca-ti{
  color: #ffffff;
  padding: 80px;
  font-size: 35px;
  font-family: sans-serif;
  
}


/* .img1{
  width: 100%;
  max-width: 600px;
  height: auto;
  display: block;
}
 */

.button-caixa{
  width: 20%;
  background: #ec1c24;
  color: white;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  border: none;
  padding: 10px;
  margin: 10px; 
  box-shadow: 2px 2px 4px #b91004, -2px -2px 4px #b91004;
  height: 80px;
  margin-left: -700px;
  transform: translateY(380px);
}


#caixa-pt{
  display: flex;
  justify-content: flex-start;
  background: linear-gradient(to top, #3a0202 10%, #880303 50%, #880303 90%);
  height: 50vh;
  border-radius: 30px;
  margin-top: 200px;
  margin: 0;
}
/* 
.img2 {
 margin-left: 20000px;
} */



#barra a {
  display: inline-block;
  color: rgb(255, 255, 255);
  margin: 0 15px;
  text-decoration: none;   
}


#carteiras {
  padding: 20px;
  /* background-color: #f0f0f0; */
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 70vh;
}

.carr-ti {
  display: block;
  color: #333;
  font-family: sans-serif;
  font-size: 35px;
  margin-bottom: 20px;
  text-align: center;
}

#par-btn {
  display: flex;
  flex-direction: column;
  /* justify-content: end; */
  align-items: center;
  gap: 20px;
  width: 100%;
}

.container-car {
  display: flex;
  justify-content: space-around; 
  margin-top: 20px;
  gap: 20px;
}

.ativos, .credi, .credipar, .stone, .div, .tenda, .direcional, .zema, .berlanda, .berlanda, .zema, .tenda, .direcional, .bradesco  {
  display: flex; 
  justify-content: center;
  align-items: center; 
  border: solid 3px white;
  width: 175px;
  height: 150px;
  background: white;
  border-radius: 20px;
  transition: transform 0.3s; 
}

.div{
  margin-top: 40px;
}

.tenda{
  margin-top: 50px;
}

.credi{
  margin-top: 50px;
}

.ativos{
  margin-top: 40px;
}

.container-car img {
  width: 90%;
  margin: auto; 
  margin-top: 15px;
}

.container-car div:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}


/* .car {
  width: 20%;
  height: auto;
  border-radius: 10px;
} */


.ti span {
  color: rgb(255, 255, 255);
  background: #e43003;
  border-radius: 5px;
}



h6 {
  position: absolute;
  color: rgb(228, 11, 11);
  margin-top: 320px;
  font-family: sans-serif;
  font-size: 35px;
  text-align: center;
  transform: translateY(-350px);
}

/* h8{
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
} */



.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  top: 700px;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  bottom: 20px; 
  left: 20px; 
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: #00d757;
}

.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 25px;
}

.sign svg path {
  fill: white;
}

.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}

.Btn:hover {
  width: 150px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.Btn:hover .sign {
  width: 30%;
  padding-left: 10px;
}

.Btn:hover .text {
  opacity: 1;
  width: 70%;
  padding-right: 10px;
}

.Btn:active {
  transform: translate(2px, 2px);
}



.button-pt {
  color: white;
  background: rgb(70, 65, 65);
  border: none;
  border-radius: 20px;
  width: 800px;
  margin-top: 20px;
  text-align: left;
  padding: 20px;
  cursor: pointer;
}

.txt-button {
  font-size: 20px;
  font-family: sans-serif;
}

.txt-bu-ti {
  font-size: 20px;
  margin: 0;
}

#button-ft {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #312c2c;
  margin-top: 100px;
  height: auto;
  width: 100%;
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;    
  transition: height 0.5;
  margin: 0;
}

.button-ti {
  padding: 25px;
  color: white;
  font-size: 35px;
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 40px;
}

.bt-content {
  display: none;
  padding-top: 10px;
}


.footer-content {
  background: linear-gradient(to top, #3a0202 10%, #880303 50%, #880303 90%);
  color: #ffffff;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  /* border-radius: 10px 10px 0 0; */
  font-family: Arial, sans-serif;
}

.footer-text {
  max-width: 400px;
  margin-bottom: 20px;
}

.footer-title {
  font-size: 32px;
  font-weight: bold;
  margin: 0 0 10px;
  color: #e40303; 
}

.footer-info {
  font-size: 14px;
  margin: 5px 0;
  color: #dcdcdc;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-links a {
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #ffffff;
}

.footer-bottom {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  color: #b5b5b5;
}

.img10{
  margin-left: 950px;
  margin-top: 30px;
  width: 10%;
  height: 20%;
}


#carteiras{
  height: 125vh;
}


.modal-overlay {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.form-box {
  background-color: white;
  padding: 20px;
  width: 90%;
  height: 300px;
  max-width: 400px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: 20px auto; 
  /* border: solid 2px #e43003; */
}

.close-btnn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: linear-gradient(to top, #d60707 10%, #d10606 50%, #860808 90%);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
}
/* 
.bt5 {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.bt5:hover {
  background-color: #0056b3;
} */

.title {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.botao {
  width: 100%;
  padding: 10px;
  background: linear-gradient(to top, #d60707 10%, #d10606 50%, #860808 90%);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.botao:hover {
  background-color: #a8470e;
}



#menu-toggle {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #ffffff;
  color: rgb(192, 9, 9);
  font-size: 1.5em;
}

#menu-items {
  display: none;
  padding: 10px;
  height: 200px;
}

#menu-items a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: rgb(24, 3, 3);
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.menu-active #menu-items {
  display: flex;
}


.button:hover {
  transform: translateY(-3px);
}


.imagem-mobile{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}


@media screen and (max-width: 500px) {

    body {
      overflow-x: hidden;
      width: 100%;
      height: auto;

    }

  #desktop {
    display: none; 
}

.imagem-inicial{
  display: none;
}

.button-container {
  height: 50px;
}

.button {
  width: 40px;
  height: 40px;
}

.icon {
  font-size: 18px;
}


.titulo{
  margin-top: -40px;
}

  .logo1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 250px;
    transform: translateY(30px);

  }


  #cx {
    width: 90%;
    margin: 0 auto;
    top: 115px;
    transform: none;
    box-shadow: 2px 2px 4px #9e9d9d, -2px -2px 4px #9e9d9d;
  }

  #pt2 {
    display: flex;
    width: auto;
    height: 950px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  #bloco1, #bloco2, #bloco3 {
    width: 50%;
  }


  #button {
    text-align: center;
    margin-top: 225px;
  }


  h5 {
    margin-top: -80px;
    font-size: 25px;
  }

  .slide-container img {
    border: none;
    border-radius: 50px;
    width: 100%;
  }
  
  h6{
    transform: translateY(-600px);
    margin-top: 400px;
  }

  .button-pt{
    width: 85%;
  }
 
  #caixa-pr{
    display: flex;
    border-radius: 20px;
    margin-top: 200px;
    /* background: #d60e0e; */
    height: 120vh;
    flex-direction: column;
  }
  


  .ca-ti{
    color: #ffffff;
    padding: 40px;
    font-size: 25px;
    font-family: sans-serif;
  }
  
  
 
   .button-caixa{
    font-size: 28px;
    width:80%;
    transform: translateX(750px);
   }

  #caixa-pt{
    align-items: center;
    flex-direction: column;
    height: auto;
  }

  .img2{
    margin-left:-20px;
    width: 65%;
  }
   
  .img3{
    width: 59%;
  }

  .img10{
    position: fixed;
    width: 30%;
    height: 15%;
    margin-left: 145px;
  }
   

  #par-btn {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 20px;
    width: auto;
    padding: 20px;
}

.container-car {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    gap: 20px;
}

.ativos, .credi, .credipar, .stone, .div, .tenda, .direcional, .zema, .berlanda, .bradesco {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px white;
    width: calc(50% - 10px);
    height: 150px;
    background: white;
    border-radius: 20px;
    transition: transform 0.3s;
}



.acessibilidade{
  width: 20%;
}

#carteiras{
  height: 140vh;
}



}

@media screen and (min-width: 501px) and (max-width: 649px) {
  
  body {
    overflow-x: hidden;
    width: 100%;
  }

 .imagem-inicial{
  display: none;
 }

  #desktop {
    display: none; 
}

  .logo1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 250px;
    transform: translateY(30px);

  }

  .banner {
    display: flex;
    width: 50%; 
    height: 80vh;
    background-size: 100% 100%;
    background-position: center 18vh;
    background-image: url('./imagemweb/Site\ de\ proposta\ de\ vendas\ \(1\).png');
    translate: -700px;
  }
     
   .banner .ti span{
    color: rgb(255, 255, 255);
    background: #e43003;
    border-radius: 5px;
   }

  .banner .ti {
    margin-top: 100px;
    font-family: sans-serif;
    font-size: 35px;
  }

  .titulo{
    margin-left: 20%;
  }
  
  #cx {
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    transform: none;
    box-shadow: 2px 2px 4px #9e9d9d, -2px -2px 4px #9e9d9d;
  }

  #pt2 {
    display: flex;
    width: auto;
    height: 950px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  #bloco1, #bloco2, #bloco3 {
    width: 50%;
  }


  #button {
    text-align: center;
    margin-top: 225px;
  }


  h5 {
    margin-top: -80px;
    font-size: 25px;
  }

  .slide-container img {
    border: none;
    border-radius: 50px;
    width: 100%;
  }
  
  h6{
    transform: translateY(-600px);
    margin-top: 400px;
  }

  .button-pt{
    width: 85%;
  }
 
  #caixa-pr{
    display: flex;
    border-radius: 20px;
    margin-top: 200px;
    /* background: #d60e0e; */
    height: 120vh;
    flex-direction: column;
  }
  


  .ca-ti{
    color: #ffffff;
    padding: 40px;
    font-size: 25px;
    font-family: sans-serif;
  }
  
  
 
   .button-caixa{
    font-size: 28px;
    width:80%;
    transform: translateX(750px);
   }

  #caixa-pt{
    align-items: center;
    flex-direction: column;
    height: auto;
  }

  .img2{
    margin-left:-20px;
    width: 65%;
  }
   
  .img3{
    width: 59%;
  }

  .img10{
    width: 30%;
    height: 20%;
    margin-left: 200px;
  }
   

  #par-btn {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 20px;
    width: auto;
    padding: 20px;
}

.container-car {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    gap: 20px;
}

.ativos, .credi, .credipar, .stone, .div, .tenda, .direcional, .zema, .berlanda, .bradesco {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px white;
    width: calc(40% - 10px);
    height: 150px;
    background: white;
    border-radius: 20px;
    transition: transform 0.3s;
}



.acessibilidade{
  width: 20%;
}

#carteiras{
  height: 135vh;
}

}


@media screen and (min-width: 650px) and (max-width: 768px) {

  body {
    overflow-x: hidden;
    width: 100%;
  }



  .imagem-inicial{
    display: none;
  }

  #desktop {
    display: none; 
}

  .logo1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 500px;
    transform: translateY(30px);

  }

   .banner .ti span{
    color: rgb(255, 255, 255);
    background: #e43003;
    border-radius: 5px;
   }

  .banner .ti {
    margin-top: 100px;
    font-family: sans-serif;
    font-size: 35px;
  }

  .titulo{
    margin-left: 25%;
  }
  
  #cx {
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    transform: none;
    box-shadow: 2px 2px 4px #9e9d9d, -2px -2px 4px #9e9d9d;
  }

  #pt2 {
    display: flex;
    width: auto;
    height: 950px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  #bloco1, #bloco2, #bloco3 {
    width: 50%;
  }


  #button {
    text-align: center;
    margin-top: 225px;
  }


  h5 {
    margin-top: -80px;
    font-size: 25px;
  }

  .slide-container img {
    border: none;
    border-radius: 50px;
    width: 100%;
  }
  
  h6{
    transform: translateY(-600px);
    margin-top: 400px;
  }

  .button-pt{
    width: 85%;
  }
 
  #caixa-pr{
    display: flex;
    border-radius: 20px;
    margin-top: 200px;
    /* background: #d60e0e; */
    height: 135vh;
    flex-direction: column;
  }
  


  .ca-ti{
    color: #ffffff;
    padding: 40px;
    font-size: 25px;
    font-family: sans-serif;
  }
  
  
 
   .button-caixa{
    font-size: 28px;
    width:80%;
    transform: translateX(750px);
   }

  #caixa-pt{
    align-items: center;
    flex-direction: column;
    height: auto;
  }

  .img2{
    margin-left:-20px;
    width: 65%;
  }
   
  .img3{
    width: 59%;
  }

  .img10{
    width: 30%;
    height: 25%;
    margin-left: 260px;
  }
   

  #par-btn {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 20px;
    width: auto;
    padding: 20px;
}

.container-car {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    gap: 20px;
}

.ativos, .credi, .credipar, .stone, .div, .tenda, .direcional, .zema, .berlanda, .bradesco {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px white;
    width: calc(35% - 10px);
    height: 150px;
    background: white;
    border-radius: 20px;
    transition: transform 0.3s;
}



.acessibilidade{
  width: 20%;
}

#carteiras{
  height: 140vh;
}

}


@media screen and (min-width: 769px) and (max-width: 1024px) {


  .logo1{
    display: none;
  }
  #barra{
    display: none;
  }

.imagem-mobile{
  display: none;
}
  
  body {
    overflow-x: hidden;
    width: 100%;
  }
   
  #desktop {
    display: flex;
}

#barra {
    display: none; 
}
  .banner {
    display: flex;
    justify-content: center;
    width: 875px; 
    height: 80vh;
    background-size: 100% 100%;
    background-position: center 18vh; 
    /* background-image: url('./imagem/aaaaa.png'); */
    /* translate: -600px; */
  }


  .banner {
    background-image: url('imagemweb//aaaaa.png');
    margin-left: -50px;

  }
     
 
  .titulo{
    margin-top: -300px;
  }

   .banner .ti span{
    color: rgb(255, 255, 255);
    background: #e43003;
    border-radius: 5px;
   }

  .banner .ti {
    margin-top: 100px;
    font-family: sans-serif;
    font-size: 35px;
  }
  
  #cx {
    width: 90%;
    margin: 0 auto;
    margin-top: 300px;
    left: 10%;
    transform: none;
    box-shadow: 2px 2px 4px #9e9d9d, -2px -2px 4px #9e9d9d;
    
  }

  #pt2 {
    display: flex;
    width: auto;
    height: 1000px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }


  h6{
    margin-top: -100px;
  }

  #bloco1, #bloco2, #bloco3 {
    width: 50%;
  }

  nav.mobile-nav {
    display: none;
  }
  
  nav.desktop-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 40px;
    background-color: transparent;
    /* position: fixed; */
    width: 100%;
    /* top: 0;
    left: 0; */
    z-index: 10;
    transition: background-color 0.3s ease;
  }
  
  nav.desktop-nav.scrolled {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  ul {
    display: flex;
    list-style: none;
  }
  
  ul li {
    margin-left: 30px;
  }
  
  ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s ease;
    position: relative;
  }
  
  ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #333;
    transition: width 0.3s ease;
    position: absolute;
    bottom: -5px;
    left: 0;
  }
  
  ul li a:hover::after {
    width: 100%;
  }
  
  ul li a:hover {
    color: #000;
  }
   
  #button {
    text-align: center;
    margin-top: 225px;
  }

  h5 {
    margin-top: -80px;
    font-size: 25px;
  }

  .slide-container img {
    border: none;
    border-radius: 50px;
    width: 100%;
  }
  

  .img10{
    width: 27%;
    height: 27%;
    margin-left: 350px;
  }
 
  .button-pt{
    width: 80%;
  }


  .container-car {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    gap: 20px;
}

.ativos, .credi, .credipar, .stone, .div, .tenda, .direcional, .zema, .berlanda, .bradesco {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px white;
    width: calc(30% - 10px);
    height: 150px;
    background: white;
    border-radius: 20px;
    transition: transform 0.3s;
}



#caixa-pt{
  align-items: center;
  flex-direction: column;
  height: auto;
}

.img2{
  margin-left:-20px;
  width: 35%;
}
 
.img3{
  width: 35%;
}

#caixa-pr{
  flex-direction: column;
  height: 135vh;
}


.img1{
  width: 45%;
 }


 /* #caixa-pr{
  display: flex;
  width: auto;
  border-radius: 20px;
  margin-top: 200px;
  background: #d60e0e; 
  height: 120vh;
  flex-direction: column;
}  */

 .ca-ti{
  color: #ffffff;
  padding: 40px;
  font-size: 25px;
  font-family: sans-serif;
}

.button-caixa{
  font-size: 28px;
  width:80%;
  transform: translateX(750px);
 }


.img1{
  width: 80%;
}


.img10{
  width: 27%;
  margin-left: 300px;
}

#carteiras{
  height: 155vh;
}


}


@media screen and (min-width: 1025px) and (max-width: 1440px) {


  .logo1{
    display: none;
  }
  #barra{
    display: none;
  }


  .imagem-mobile{
      display: none;
  }
  
  body {
    overflow-x: hidden;
    width: 100%;
  }
   
  #desktop {
    display: flex;
}


  
  #cx {
    position: absolute;
    top: 700px;
    transform: none;
    left: 200px; 
  }

  #pt2 {
    display: flex;
    width: auto;
    height: 1000px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }


  h6{
    margin-top: -100px;
  }

  #bloco1, #bloco2, #bloco3 {
    width: 50%;
  }

  nav.mobile-nav {
    display: none;
  }
  
  nav.desktop-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 40px;
    background-color: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    transition: background-color 0.3s ease;
  }
  
  nav.desktop-nav.scrolled {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  ul {
    display: flex;
    list-style: none;
  }
  
  ul li {
    margin-left: 30px;
  }
  
  ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s ease;
    position: relative;
  }
  
  ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #333;
    transition: width 0.3s ease;
    position: absolute;
    bottom: -5px;
    left: 0;
  }
  
  ul li a:hover::after {
    width: 100%;
  }
  
  ul li a:hover {
    color: #000;
  }
   
  #button {
    text-align: center;
    margin-top: 1000px;
    
  }

  h5 {
    margin-top: -80px;
    font-size: 25px;
  }

  .slide-container img {
    border: none;
    border-radius: 50px;
    width: 100%;
  }
  

  .img10{
    width: 27%;
    height: 27%;
    margin-left: 350px;
  }
 
  .button-pt{
    width: 80%;
  }


  #par-btn {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 20px;
    width: auto;
    padding: 20px;
}

.container-car {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    gap: 20px;
}

.ativos, .credi, .credipar, .stone, .div, .tenda, .direcional, .zema, .berlanda, .bradesco {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px white;
    width: calc(20% - 10px);
    height: 150px;
    background: white;
    border-radius: 20px;
    transition: transform 0.3s;
}



/* 
.img1{
  width: 60%;
} */

.img2{
  margin-left:-20px;
  width: 35%;
}
 
.img3{
  width: 40%;
}


#caixa-pr{
  height: 60vh;
  justify-content: flex-start;
}



/* #caixa-pr{
  display: flex;
  border-radius: 30px;
  margin-top: 200px;
  background: linear-gradient(to top, #500606 10%, #7e0404 50%, #7e0404 90%);
  height: 140vh;
  justify-content: center;
  flex-direction: column;
} */

.ca-ti{
  color: #ffffff;
  padding: 40px;
  font-size: 25px;
  font-family: sans-serif;
}

.button-caixa{
  font-size: 28px;
  width:auto;
  transform: translateX(150px);
  margin-top: 300px;
 }


 .img1{
  width: 45%;
 }

.img10{
  width: 15%;
  height: 15%;
  margin-left: 590px;
}


#carteiras{
  height: 100vh;
}

}


@media screen and (min-width: 1441px) and (max-width: 1800px) {


  .imagem-mobile{
    display: none;
  }


  .logo1, #barra {
    display: none;
  }


  #cx {
    width: 90%;
    margin: 0 auto;
    margin-top: 1000px;
    transform: none;
    box-shadow: 2px 2px 4px #9e9d9d, -2px -2px 4px #9e9d9d;
  } 

  #dek {
    font-size: 40px;
  }

  /* #caixa{ 
    margin-top: -100px;
  } */


  #button{
    padding-top: 1000px;
  }

  .container-car {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    gap: 20px;
}

.ativos, .credi, .credipar, .stone, .div, .tenda, .direcional, .zema, .berlanda, .bradesco {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px white;
    width: calc(15% - 10px);
    height: 180px;
    background: white;
    border-radius: 20px;
    transition: transform 0.3s;
}

#bloco1, #bloco2, #bloco3{
  height: 300px;
}



#carteiras{
  height: 100vh;
}


.titulo{
  margin-top: 50px;
}


#caixa-pr{
  display: flex;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: 200px;
  background: linear-gradient(to top, #500606 10%, #7e0404 50%, #7e0404 90%);
  height: 60vh;
  justify-content: center;
}

.ca-ti{
  font-size: 25px;
}

}


@media screen and (min-width: 1441px) {

   
   .imagem-mobile{
    display: none;
   }

  .logo1, #barra {
    display: none;
  }

  #cx {
    position: absolute;
    top: 350px; 
    left: 500px; 
    transform: none;
    margin-left: 0; 
  }

  #dek {
    font-size: 40px;
  }

  /* #caixa{ 
    margin-top: -100px;
  } */


  #button{
    margin-top: 500px;
  }

  .container-car {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    gap: 20px;
}

.ativos, .credi, .credipar, .stone, .div, .tenda, .direcional, .zema, .berlanda, .bradesco {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px white;
    width: calc(15% - 10px);
    height: 180px;
    background: white;
    border-radius: 20px;
    transition: transform 0.3s;
}

#bloco1, #bloco2, #bloco3{
  height: 300px;
}



#carteiras{
  height: 100vh;
}


.titulo{
  margin-top: 50px;
}

.banner{
  margin-top: 150px;
}


#caixa-pr{
  display: flex;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: 200px;
  background: linear-gradient(to top, #500606 10%, #7e0404 50%, #7e0404 90%);
  height: 70vh;
  justify-content: center;
}

.ca-ti{
  font-size: 25px;
}
}